In [2]:
import pandas as pd

In [3]:
fieldContact_df = pd.read_csv("fio-records-2022-mark43-fieldcontact-table.csv")

In [4]:
fieldContactName_df = pd.read_csv("fio-records-2022-mark43-fieldcontact_name-table.csv")

In [5]:
fieldContact_df.head()

,fc_num,contact_date,contact_officer,contact_officer_name,supervisor,supervisor_name,street,city,state,zip,...,basis,vehicle_year,vehicle_state,vehicle_model,vehicle_color,vehicle_style,vehicle_type,key_situations,contact_reason,weather
0,FC22000008,2022-01-01 00:00:00,151206,"WATTY-NILES, CREFTON",11586,CHRISTOPHER CARROLL,ALBANY ST,BOSTON,MA,2118,...,Reasonable Suspicion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01/01/2022 11:40 PM\n\nOfficers responded to a...,NaN
1,FC22000001,2022-01-01 02:30:00,153132,"VILLEGAS-HOAG, STEPHANIE",11212,MICHAEL MCCARTHY,NaN,BOSTON,MA,2122,...,Probable Cause,2008.0,MA,Taurus,Brown,"4 Door, Sedan",Passenger Car/ Automobile,NaN,"About 02:30am, Officers assisted State Police ...",NaN
2,FC22000004,2022-01-01 09:29:00,148290,"PARHAM, ANTHONY",10845,JAMES MOORE,BRIARCLIFF,MATTAPAN,MA,2126,...,Encounter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"About 10:00AM, Saturday 1/1/21 Officers respon...",NaN
3,FC22000003,2022-01-01 10:16:00,162319,"Uhrig, Robert",9266,STEVEN CICCOLO,E EIGHTH ST,SOUTH BOSTON,MA,2127,...,Reasonable Suspicion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"About 10:16am on Saturday, 01/01/22, Officers ...",NaN
4,FC22000005,2022-01-01 10:29:00,100417,"FLYNN, THOMAS",11212,MICHAEL MCCARTHY,ROBINSON ST,DORCHESTER,MA,2122,...,Probable Cause,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Officers responded to a radio call for a B&E t...,NaN

In [6]:
fieldContactName_df.head()

,person_id,contact_date,fc_num,sex,race,age,build,hair_style,ethnicity,skin_tone,deceased,license_type,license_state,was_frisked
0,30750626451,2022-01-01 00:00:00.0000000,FC22000008,Male,Black,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0.0
1,30745256091,2022-01-01 02:30:00.0000000,FC22000001,Male,Black,25.0,Thin,Short,Not of Hispanic Origin,Brown,0,Personal Driver License,MA,1.0
2,30747685932,2022-01-01 09:29:00.0000000,FC22000004,Male,Black,39.0,Medium,Bald or Balding,Not of Hispanic Origin,Medium Brown,0,Class D,MA,1.0
3,30747687157,2022-01-01 09:29:00.0000000,FC22000004,Female,Black,35.0,NaN,NaN,Not of Hispanic Origin,NaN,0,Class D,MA,NaN
4,30747589299,2022-01-01 10:16:00.0000000,FC22000003,Male,White,54.0,Medium,NaN,Not of Hispanic Origin,NaN,0,NaN,NaN,0.0

In [7]:
print(fieldContact_df.shape)
print(fieldContactName_df.shape)

(5278, 22)
(9408, 14)

In [8]:
print(len(fieldContact_df['fc_num'].unique()))
print(len(fieldContactName_df['fc_num'].unique()))

5124
5254

In [9]:
# Merging both field contact and field contact name dataframes
fio_df = pd.merge(fieldContact_df, fieldContactName_df, how='inner', left_on = 'fc_num', right_on = 'fc_num')

In [10]:
fio_df.shape

(9458, 35)

In [18]:
fio_df.head()

,fc_num,contact_date_x,contact_officer,contact_officer_name,supervisor,supervisor_name,street,city,state,zip,...,race,age,build,hair_style,ethnicity,skin_tone,deceased,license_type,license_state,was_frisked
0,FC22000008,2022-01-01 00:00:00,151206,"WATTY-NILES, CREFTON",11586,CHRISTOPHER CARROLL,ALBANY ST,BOSTON,MA,2118,...,Black,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0.0
1,FC22000001,2022-01-01 02:30:00,153132,"VILLEGAS-HOAG, STEPHANIE",11212,MICHAEL MCCARTHY,NaN,BOSTON,MA,2122,...,Black,25.0,Thin,Short,Not of Hispanic Origin,Brown,0,Personal Driver License,MA,1.0
2,FC22000004,2022-01-01 09:29:00,148290,"PARHAM, ANTHONY",10845,JAMES MOORE,BRIARCLIFF,MATTAPAN,MA,2126,...,Black,39.0,Medium,Bald or Balding,Not of Hispanic Origin,Medium Brown,0,Class D,MA,1.0
3,FC22000004,2022-01-01 09:29:00,148290,"PARHAM, ANTHONY",10845,JAMES MOORE,BRIARCLIFF,MATTAPAN,MA,2126,...,Black,35.0,NaN,NaN,Not of Hispanic Origin,NaN,0,Class D,MA,NaN
4,FC22000003,2022-01-01 10:16:00,162319,"Uhrig, Robert",9266,STEVEN CICCOLO,E EIGHTH ST,SOUTH BOSTON,MA,2127,...,White,54.0,Medium,NaN,Not of Hispanic Origin,NaN,0,NaN,NaN,0.0

In [12]:
# city council 
cityCouncilDistrict_D4_zip = [2121, 2122, 2124, 2125, 2126, 2131 ]
policeDistrict_D4_zip = [2116, 2115, 2215, 2120,  2116, 2114, 2111, 2113]

In [13]:

# Filter the rows based on zip_district_4
fio_policeDistrict_D4_df = fio_df[fio_df['zip'].isin(policeDistrict_D4_zip)]
fio_cityCouncilDistrict_D4_df = fio_df[fio_df['zip'].isin(cityCouncilDistrict_D4_zip)]

In [14]:
print(fio_policeDistrict_D4_df.shape)
print(fio_cityCouncilDistrict_D4_df.shape)

(1278, 35)
(4101, 35)

In [15]:
fio_cityCouncilDistrict_D4_df.head(10)

,fc_num,contact_date_x,contact_officer,contact_officer_name,supervisor,supervisor_name,street,city,state,zip,...,race,age,build,hair_style,ethnicity,skin_tone,deceased,license_type,license_state,was_frisked
1,FC22000001,2022-01-01 02:30:00,153132,"VILLEGAS-HOAG, STEPHANIE",11212,MICHAEL MCCARTHY,NaN,BOSTON,MA,2122,...,Black,25.0,Thin,Short,Not of Hispanic Origin,Brown,0,Personal Driver License,MA,1.0
2,FC22000004,2022-01-01 09:29:00,148290,"PARHAM, ANTHONY",10845,JAMES MOORE,BRIARCLIFF,MATTAPAN,MA,2126,...,Black,39.0,Medium,Bald or Balding,Not of Hispanic Origin,Medium Brown,0,Class D,MA,1.0
3,FC22000004,2022-01-01 09:29:00,148290,"PARHAM, ANTHONY",10845,JAMES MOORE,BRIARCLIFF,MATTAPAN,MA,2126,...,Black,35.0,NaN,NaN,Not of Hispanic Origin,NaN,0,Class D,MA,NaN
6,FC22000005,2022-01-01 10:29:00,100417,"FLYNN, THOMAS",11212,MICHAEL MCCARTHY,ROBINSON ST,DORCHESTER,MA,2122,...,White,31.0,NaN,NaN,Not of Hispanic Origin,NaN,0,Class D,MA,0.0
7,FC22000005,2022-01-01 10:29:00,100417,"FLYNN, THOMAS",11212,MICHAEL MCCARTHY,ROBINSON ST,DORCHESTER,MA,2122,...,Black,35.0,Medium,Short,NaN,Medium Brown,0,Class D,MA,0.0
16,FC22000010,2022-01-02 01:15:00,153081,"LEWIS, JOHNATHAN",10845,JAMES MOORE,GREENWOOD ST,DORCHESTER,MA,2121,...,Unknown,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0.0
20,FC22000015,2022-01-02 18:35:00,105619,"LOPES, SAMORA",10092,DANIEL TRACEY,NaN,BOSTON,MA,2124,...,Black,20.0,Thin,NaN,Hispanic Origin,NaN,0,NaN,MA,1.0
21,FC22000015,2022-01-02 18:35:00,105619,"LOPES, SAMORA",10092,DANIEL TRACEY,NaN,BOSTON,MA,2124,...,White,18.0,Thin,NaN,Hispanic Origin,NaN,0,NaN,MA,1.0
22,FC22000015,2022-01-02 18:35:00,105619,"LOPES, SAMORA",10092,DANIEL TRACEY,NaN,BOSTON,MA,2124,...,Black,18.0,NaN,NaN,Not of Hispanic Origin,NaN,0,NaN,MA,1.0
23,FC22000015,2022-01-02 18:35:00,105619,"LOPES, SAMORA",10092,DANIEL TRACEY,NaN,BOSTON,MA,2124,...,White,21.0,Medium,NaN,Hispanic Origin,NaN,0,None,MA,1.0

In [16]:
boston_zip=['2101','2102','2103','2104','2105','2106','2107','2108','2109','2110','2111','2112','2113','2114','2115','2116',
            '2117','2118','2119','2120','2121','2122','2123','2124','2125','2126','2127','2128','2129','2130','2131',
            '2132','2133','2134','2135','2136','2137','2163','2199','2203','2205','2208','2209','2210','2215','2222',
            '2228','2283','2284','2455']

In [30]:
Zip_PD_A1 =[2108, 2109, 2110, 2111, 2113, 2114, 2116, 2129, 2199 ]
Zip_PD_A7 = [2121, 2122, 2124, 2125]
Zip_PD_A15 = [2130, 2131, 2132]
Zip_PD_B2 = [ 2119, 2120, 2126, 2130]
Zip_PD_B3 = [2124, 2125, 2126, 2131, 2136, 2186]
Zip_PD_C6 = [2127, 2210]
Zip_PD_C11 = [2124, 2125, 2136, 2186]
Zip_PD_D4 = [2115, 2116, 2118, 2119, 2120, 2130, 2199]
Zip_PD_D14 = [2128]
Zip_PD_E5 = [2130, 2131, 2132, 2136, 2467]
Zip_PD_E13 = [ 2130, 2131, 2132, 2136]
Zip_PD_E18 = [ 2126, 2136, 2186]

In [31]:
def get_district(zip_code):
    if zip_code in Zip_PD_A1:
        return 'A1'
    elif zip_code in Zip_PD_A7:
        return 'A7'
    elif zip_code in Zip_PD_B2:
        return 'B2'
    elif zip_code in Zip_PD_B3:
        return 'B3'
    elif zip_code in Zip_PD_C6:
        return 'C6'
    elif zip_code in Zip_PD_C11:
        return 'C11'
    elif zip_code in Zip_PD_D4:
        return 'D4'
    elif zip_code in Zip_PD_D14:
        return 'D14'
    elif zip_code in Zip_PD_E5:
        return 'E5'
    elif zip_code in Zip_PD_E13:
        return 'E13'
    elif zip_code in Zip_PD_E18:
        return 'E18'
    elif zip_code in Zip_PD_E9:
        return 'E9'
    else:
        return 'Unknown'
    
fio_df['District'] = fio_df['zip'].apply(get_district)

In [32]:
fio_df.head(10)

,fc_num,contact_date_x,contact_officer,contact_officer_name,supervisor,supervisor_name,street,city,state,zip,...,age,build,hair_style,ethnicity,skin_tone,deceased,license_type,license_state,was_frisked,District
0,FC22000008,2022-01-01 00:00:00,151206,"WATTY-NILES, CREFTON",11586,CHRISTOPHER CARROLL,ALBANY ST,BOSTON,MA,2118,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0.0,D4
1,FC22000001,2022-01-01 02:30:00,153132,"VILLEGAS-HOAG, STEPHANIE",11212,MICHAEL MCCARTHY,NaN,BOSTON,MA,2122,...,25.0,Thin,Short,Not of Hispanic Origin,Brown,0,Personal Driver License,MA,1.0,A7
2,FC22000004,2022-01-01 09:29:00,148290,"PARHAM, ANTHONY",10845,JAMES MOORE,BRIARCLIFF,MATTAPAN,MA,2126,...,39.0,Medium,Bald or Balding,Not of Hispanic Origin,Medium Brown,0,Class D,MA,1.0,B2
3,FC22000004,2022-01-01 09:29:00,148290,"PARHAM, ANTHONY",10845,JAMES MOORE,BRIARCLIFF,MATTAPAN,MA,2126,...,35.0,NaN,NaN,Not of Hispanic Origin,NaN,0,Class D,MA,NaN,B2
4,FC22000003,2022-01-01 10:16:00,162319,"Uhrig, Robert",9266,STEVEN CICCOLO,E EIGHTH ST,SOUTH BOSTON,MA,2127,...,54.0,Medium,NaN,Not of Hispanic Origin,NaN,0,NaN,NaN,0.0,C6
5,FC22000003,2022-01-01 10:16:00,162319,"Uhrig, Robert",9266,STEVEN CICCOLO,E EIGHTH ST,SOUTH BOSTON,MA,2127,...,44.0,NaN,NaN,Unknown,NaN,0,ID Only - Never had Personal Driver License,MA,0.0,C6
6,FC22000005,2022-01-01 10:29:00,100417,"FLYNN, THOMAS",11212,MICHAEL MCCARTHY,ROBINSON ST,DORCHESTER,MA,2122,...,31.0,NaN,NaN,Not of Hispanic Origin,NaN,0,Class D,MA,0.0,A7
7,FC22000005,2022-01-01 10:29:00,100417,"FLYNN, THOMAS",11212,MICHAEL MCCARTHY,ROBINSON ST,DORCHESTER,MA,2122,...,35.0,Medium,Short,NaN,Medium Brown,0,Class D,MA,0.0,A7
8,FC22000006,2022-01-01 11:50:00,148310,"VERDERICO, JAMES",9021,THOMAS HOPKINS,ALBANY ST,BOSTON,MA,2118,...,39.0,Medium,Short,Not of Hispanic Origin,NaN,0,Class D,MA,0.0,D4
9,FC22000007,2022-01-01 19:35:00,90495,"FLAVEN, MICHAEL",11827,MICHAEL MYLETT,GEORGETOWNE DR,HYDE PARK,MA,2136,...,40.0,NaN,NaN,Not of Hispanic Origin,NaN,0,Class D,MA,1.0,B3

In [33]:
fio_df[fio_df['District']=='Unknown']['zip'].unique()

array([2215, 2134, 2135, 2026, 2909, 2472, 2492, 2139, 1970, 2446, 2050,
       2203, 2151, 2302, 2465, 2201, 1890, 2458, 2169, 2081, 2452],
      dtype=int64)

In [35]:
fio_df[fio_df['District']=='Unknown'].shape

(305, 36)

In [36]:
fio_df[fio_df['District']=='Unknown'].head(20)

,fc_num,contact_date_x,contact_officer,contact_officer_name,supervisor,supervisor_name,street,city,state,zip,...,age,build,hair_style,ethnicity,skin_tone,deceased,license_type,license_state,was_frisked,District
43,FC22000030,2022-01-05 08:40:00,102399,"SPARROW, DANIEL",9021,THOMAS HOPKINS,BOYLSTON ST,BOSTON,MA,2215,...,39.0,Muscular,NaN,Not of Hispanic Origin,NaN,0,"ID - Had a License, now has ID",MA,0.0,Unknown
63,FC22000047,2022-01-07 01:00:00,157665,"MARIAM, DANIEL",9021,THOMAS HOPKINS,JERSEY ST,BOSTON,MA,2215,...,19.0,NaN,NaN,Not of Hispanic Origin,NaN,0,NaN,NaN,1.0,Unknown
64,FC22000047,2022-01-07 01:00:00,157665,"MARIAM, DANIEL",9021,THOMAS HOPKINS,JERSEY ST,BOSTON,MA,2215,...,19.0,NaN,NaN,Not of Hispanic Origin,NaN,0,Class D,MA,0.0,Unknown
82,FC22000062,2022-01-08 18:30:00,148287,"MONAHAN, SEAN",11808,NANCY CELLUCCI,BOYLSTON ST,BOSTON,MA,2215,...,31.0,Thin,NaN,Not of Hispanic Origin,NaN,0,NaN,MA,0.0,Unknown
135,FC22000088,2022-01-11 16:44:00,148260,"EGAN, RYAN",80394,SEAN WILBANKS,BRIGHTON AVE,BRIGHTON,MA,2134,...,37.0,Medium,NaN,Not of Hispanic Origin,NaN,0,NaN,NaN,0.0,Unknown
136,FC22000088,2022-01-11 16:44:00,148260,"EGAN, RYAN",80394,SEAN WILBANKS,BRIGHTON AVE,BRIGHTON,MA,2134,...,42.0,Thin,Unkempt,Not of Hispanic Origin,Medium,0,ID Only - Never had Personal Driver License,MA,0.0,Unknown
147,FC22000099,2022-01-11 23:40:00,120901,"MACIOCE, DAVID",10543,RICHARD HOUSTON,HARRIET ST,BRIGHTON,MA,2135,...,31.0,Heavy,Receding or Slightly Receding,Not of Hispanic Origin,Light,0,"ID - Had a License, now has ID",MA,0.0,Unknown
172,FC22000116,2022-01-13 09:35:00,144314,"HOUTMEYERS, JOSEPH",103765,JOHN MACLAUGHLAN,BRENTWOOD ST,BRIGHTON,MA,2134,...,21.0,NaN,NaN,Not of Hispanic Origin,NaN,0,NaN,NaN,1.0,Unknown
265,FC22000192,2022-01-18 10:58:00,144840,"DIPIRO, MATTHEW",8657,MICHAEL LOCKE,HIGH ST,DEDHAM,MA,2026,...,27.0,NaN,NaN,Unknown,NaN,0,Class D,MA,0.0,Unknown
299,FC22000212,2022-01-19 19:58:00,148260,"EGAN, RYAN",98645,EAMON GEOGHEGAN,ALLSTON ST,BRIGHTON,MA,2134,...,NaN,NaN,NaN,Hispanic Origin,NaN,0,NaN,NaN,0.0,Unknown
300,FC22000212,2022-01-19 19:58:00,148260,"EGAN, RYAN",98645,EAMON GEOGHEGAN,ALLSTON ST,BRIGHTON,MA,2134,...,16.0,NaN,NaN,Hispanic Origin,NaN,0,NaN,NaN,0.0,Unknown
304,FC22000216,2022-01-20 02:40:00,153078,"MONTERO, KEVIN",11586,CHRISTOPHER CARROLL,PARK DR,BOSTON,MA,2215,...,25.0,Medium,NaN,Not of Hispanic Origin,NaN,0,NaN,MA,0.0,Unknown
305,FC22000216,2022-01-20 02:40:00,153078,"MONTERO, KEVIN",11586,CHRISTOPHER CARROLL,PARK DR,BOSTON,MA,2215,...,18.0,Medium,Short,NaN,Medium,0,NaN,MA,0.0,Unknown
306,FC22000216,2022-01-20 02:40:00,153078,"MONTERO, KEVIN",11586,CHRISTOPHER CARROLL,PARK DR,BOSTON,MA,2215,...,20.0,Thin,Short,Not of Hispanic Origin,Medium,0,NaN,MA,0.0,Unknown
307,FC22000216,2022-01-20 02:40:00,153078,"MONTERO, KEVIN",11586,CHRISTOPHER CARROLL,PARK DR,BOSTON,MA,2215,...,25.0,Medium,NaN,Not of Hispanic Origin,NaN,0,NaN,MA,0.0,Unknown
308,FC22000216,2022-01-20 02:40:00,153078,"MONTERO, KEVIN",11586,CHRISTOPHER CARROLL,PARK DR,BOSTON,MA,2215,...,18.0,Medium,Short,NaN,Medium,0,NaN,MA,0.0,Unknown
309,FC22000216,2022-01-20 02:40:00,153078,"MONTERO, KEVIN",11586,CHRISTOPHER CARROLL,PARK DR,BOSTON,MA,2215,...,20.0,Thin,Short,Not of Hispanic Origin,Medium,0,NaN,MA,0.0,Unknown
391,FC22000269,2022-01-24 10:35:00,120901,"MACIOCE, DAVID",103765,JOHN MACLAUGHLAN,HARRIET ST,BRIGHTON,MA,2135,...,31.0,Heavy,Receding or Slightly Receding,Not of Hispanic Origin,Light,0,"ID - Had a License, now has ID",MA,0.0,Unknown
392,FC22000271,2022-01-24 11:17:00,164103,"Lennon, Emerdine",103765,JOHN MACLAUGHLAN,CAMBRIDGE ST,BRIGHTON,MA,2134,...,31.0,NaN,NaN,Hispanic Origin,NaN,0,NaN,NaN,0.0,Unknown
422,FC22000288,2022-01-25 08:45:00,106277,"HARDIE, DAVID",91934,ISABEL SWEET,FIDELIS WAY,BRIGHTON,MA,2135,...,36.0,Medium,Curly,Hispanic Origin,Light,0,ID Only - Never had Personal Driver License,MA,0.0,Unknown